<template>
    <div class="market-data-card">
        <img :src="`https://messari.io/asset-images/${crypto.id}/128.png?v=2`" :alt="`Logo ${crypto.cryptoName}`" class="crypto-logo" />

        <span class="crypto-name">{{ crypto.cryptoName }}</span>
        <small class="crypto-symbol">{{ crypto.symbol }}</small>

        <span class="crypto-price">{{ crypto.priceUSD.toFixed(2) }} $</span>
        <small :class="`crypto-change ${crypto.percent >= 0 ? 'more' : 'less'}`">
            <img v-if="crypto.percent >= 0" src="../assets/img/growth-chart.png" alt="more" />
            <img v-else src="../assets/img/decreasing.png" alt="minus" />
            {{ `${crypto.percent >= 0 ? "+" : ""}${crypto.percent.toFixed(2)}` }}%
        </small>
    </div>
</template>

<script>
export default {
  name: 'CryptoCard',
  props: {
    crypto: {
        type: Object,
        required: true
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

.market-data-card {
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding: 25px;
    box-shadow: 2px 2px 15px 0px rgba(234,48,255,0.43);
    transform: scale(1);
    transition: all .2s;
    width: 230px;
    text-align: center;
}
.market-data-card:hover {
    transform: scale(1.05);
}

.crypto-logo {
    max-width: 100%;
    margin-bottom: 15px;
}

.crypto-name {
    font-size: 1.5rem;
    font-weight: bold;
}

.crypto-symbol {
    margin-bottom: 15px;
}

.crypto-price {
    font-weight: bold;
    margin-bottom: 5px;
}

.crypto-change {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.crypto-change.more {
    color: var(--green);
}
.crypto-change.less {
    color: tomato;
}
.crypto-change img {
    width: 18px;
}

</style>