<template>
    <header>
        <div class="logo-container">
            <router-link to="/">
                <img class="logo-cryptoblock" src="../assets/img/logo-cryptoblock.png" alt="Cryptoblock" />
            </router-link>
        </div>

        <nav id="main-nav">
            <router-link to="/blog">Blog</router-link>
            <router-link to="/metrics">Metrics</router-link>
            <router-link to="/login" v-if="!loggedIn">Login</router-link>
            <router-link to="/sign-up" v-if="!loggedIn">Sign up</router-link>
            <router-link to="/account" v-if="loggedIn">
                <img src="../assets/img/user.png" alt="My Account" class="user" />
            </router-link>
            <img src="../assets/img/logout.png" v-if="loggedIn" @click="logout" alt="Logout" />
        </nav>
    </header>
</template>

<script>
export default {
  name: 'Header',
  props: {
    loggedIn: {
        type: Boolean,
        required: true,
        default: localStorage.getItem("token") ? true : false
    }
  },
  methods: {
      logout() {
          localStorage.removeItem('token');
          this.$emit("authenticated", false);
      }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
header {
    background-color: var(--black);
    color: #fff;
    padding: 0px 3vw;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 900;
}

.logo-cryptoblock {
    width: 15vw;
}

#main-nav {
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: flex-end;
}

#main-nav a {
    color: var(--white);
    text-decoration: none;
    font-size: 1.3rem;
    transition: color .2s;
}
#main-nav a:hover {
    color: var(--green);
}

#main-nav img {
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(122deg) brightness(108%) contrast(108%);
    transition: all .2s;
    cursor: pointer;
}
#main-nav img.user { margin-top: 5px }
#main-nav a:hover img, #main-nav img:hover {
    filter: invert(65%) sepia(77%) saturate(413%) hue-rotate(126deg) brightness(92%) contrast(88%);
}
</style>
