<template>
    <div class="articleContainer">
      <breeding-rhombus-spinner
      :animation-duration="1500"
      :size="75"
      :color="'#fff'"
      v-if="loading"
      />

      <article v-else>
        <h1>{{ article.articleName }}</h1>

        <h2>#{{ article.category }}</h2>

        <span class="article-author">
          By <span class="username">{{ article.author.username }}</span>
          <span v-if="article.author.roles.some(r => r === 'ROLE_ADMIN')" class="author-role">(Admin)</span>
          - {{ new Date(article.createdAt).toLocaleDateString() }}
        </span>

        <p>{{ article.content }}</p>
      </article>

      <div v-for="comment in article.comments" :key="comment.id" class="comment">
        <span class="article-author">
          By <span class="username">{{ comment.Author.username }}</span>
          <span v-if="comment.Author.roles.some(r => r === 'ROLE_ADMIN')" class="author-role">(Admin)</span>
          - {{ new Date(comment.createdAt).toLocaleDateString() }}
        </span>

        <p>{{ comment.Content }}</p>
      </div>

      <Formik
      :initialValues="{
        text: ''
      }"
      :onSubmit="handleSubmit"
      >
        <Field name="comment" as="textarea" placeholder="Write your comment here !" required/>

        <button type="submit">
          Send
        </button>
      </Formik>
    </div>
</template>

<script>
import { BreedingRhombusSpinner } from 'epic-spinners';
import { config } from '../../config';
import Formik from '../../components/Formik/Formik.vue'
import Field from '../../components/Formik/Field.vue'

export default {
  name: 'Article',
  components: {
    BreedingRhombusSpinner,
    Formik,
    Field
  },
  data: function() {
    return {
      id: this.$route.params.id,
      loading: true,
      article: []
    }
  },
  created() {
    this.loading = true;

    fetch(`${config.apiUrl}/articles/${this.id}`)
    .then(response => response.json())
    .then(res => {
      this.article = {
        id: res.id,
        articleName : res.name,
        content: res.content,
        author: {
          username: res.author.username,
          roles: res.author.roles
        },
        comments: res.comments,
        createdAt: res.createdAt,
        category: res.Category.name
      };
      this.loading = false;
    })
    .catch(err => {
      this.loading = false;
      console.log(err);
    });
  },
  methods: {
    handleSubmit() {
      // post comment
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

.articleContainer {
  width: 100%;
  min-height: calc(100vh - 60px);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 50px 0;
  gap: 20px;
}

article, .comment, form {
  background-color: var(--white);
  color: var(--dark-grey);
  width: 1100px;
  max-width: 100%;
  border-radius: 20px;
  padding: 25px;
}

h1 {
  font-size: 2rem;
  margin: 0 0 10px;
}

.article-author {
  display: block;
  margin-bottom: 30px;
}
.username {
  color: var(--green);
}
.author-role {
  font-style: italic;
  color: var(--pink);
}

h2 {
  font-size: 1.1rem;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0 0 10px;
  color: var(--pink);
}

.comment p {
  margin-top: 0;
}
.comment .article-author {
  margin-bottom: 15px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

textarea {
  width: 100%;
  border-radius: 15px;
  padding: 15px;
  appearance: none;
  border: 1px solid var(--dark-grey);
}

button[type="submit"] {
  border: none;
  background-color: var(--green);
  border-radius: 5px;
  color: var(--white);
  text-transform: uppercase;
  padding: 10px 20px;
  font-size: 1rem;
  transition: all .2s;
  cursor: pointer;
  margin-top: 20px;
}
button[type="submit"]:hover {
  box-shadow: 2px 2px 15px 0px rgba(234,48,255,0.43);
}

</style>