<template>
    <div class="blogContainer">
        <h1>Blog</h1>
        <h2>Choose a category</h2>

        <breeding-rhombus-spinner
        :animation-duration="1500"
        :size="75"
        :color="'#fff'"
        v-if="loading"
        />

        <div v-else class="dataLoaded">
          <input class="search-input" type="text" v-model="search" placeholder="Search..." />

          <div class="list-categories">
            <router-link
            v-for="category in categories.filter(c => c.categoryName.toLowerCase().includes(search.toLowerCase()))"
            :key="category.id"
            :to="`/blog/${category.id}/${category.categoryName}`">
              {{ category.categoryName }}
            </router-link>
          </div>
        </div>
    </div>
</template>

<script>
import { BreedingRhombusSpinner } from 'epic-spinners';
import { config } from '../../config';

export default {
  name: 'Blog',
  components: {
    BreedingRhombusSpinner
  },
  data() {
    return {
      categories: [],
      loading: false,
      search: ""
    }
  },
  created() {
    this.loading = true;

    fetch(`${config.apiUrl}/categories`)
    .then(response => response.json())
    .then(res => {
      this.loading = false;
      const data = res["hydra:member"];
      this.categories = data.map(d => ({
        id: d.id,
        categoryName : d.name
      }));
    })
    .catch(err => {
      this.loading = false;
      console.log(err);
    });
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

.blogContainer {
  width: 100%;
  min-height: calc(100vh - 60px);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 50px 0;
}

h1 {
  font-size: 3rem;
  margin: 0 0 20px;
}

h2 {
  font-size: 1rem;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0 0 25px;
}

.list-categories {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}

.list-categories a {
  background-color: var(--black);
  color: var(--green);
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 10px;
  border: 1px solid var(--green);
  transition: all .2s;
}
.list-categories a:hover {
  background-color: var(--green);
  color: var(--black);
}

.search-input {
  background-color: var(--dark-grey);
  color: var(--white);
  padding: 5px;
  display: block;
  margin: auto;
  border: 1px solid var(--black);
  appearance: none;
  outline: none;
  margin-bottom: 75px;
  font-family: "Open Sans";
  position: relative;
  background-image: url('../../assets/img/search.png');
  background-position: right 5px center;
  background-size: 20px;
  background-repeat: no-repeat;
  padding-right: 30px;
}
/* .search-input::after {
  content: url('../../assets/img/search.png');
  position: absolute;
  right: 0;
  top: 0;
} */

</style>