<template>
    <div class="categoryContainer">
        <h1>Category - {{ categoryName }}</h1>
        <h2>Select an article to read</h2>

        <breeding-rhombus-spinner
        :animation-duration="1500"
        :size="75"
        :color="'#fff'"
        v-if="loading"
        />

        <div v-else class="list-articles">
          <router-link
          v-for="article in articles"
          :key="article.id"
          :to="`/blog/${categoryId}/${categoryName}/article/${article.id}`">
            <span class="article-title">
              {{ article.articleName }}
            </span>
            <span class="article-author">
              By <span class="username">{{ article.author.username }}</span> <span v-if="article.author.roles.some(r => r === 'ROLE_ADMIN')" class="author-role">(Admin)</span>
              - {{ new Date(article.createdAt).toLocaleDateString() }} {{ article.updatedAt ? `(Updated ${new Date(article.createdAt).toLocaleDateString()})` : "" }}
            </span>
            <span class="article-preview">
              {{ article.content }}
            </span>
          </router-link>
        </div>
    </div>
</template>

<script>
import { BreedingRhombusSpinner } from 'epic-spinners';
import { config } from '../../config';

export default {
  name: 'Category',
  components: {
    BreedingRhombusSpinner
  },
  data: function() {
    return {
      categoryId: this.$route.params.categoryId,
      categoryName: decodeURI(this.$route.params.categoryName),
      loading: false,
      articles: []
    }
  },
  created() {
    this.loading = true;

    fetch(`${config.apiUrl}/categories/${this.categoryId}/articles`)
    .then(response => response.json())
    .then(res => {
      this.loading = false;
      const data = res["hydra:member"];
      this.articles = data.map(d => ({
        id: d.id,
        articleName : d.name,
        content: `${d.content.split(/\s+/).slice(0,10).join(" ")}...`,
        author: {
          username: d.author.username,
          roles: d.author.roles
        },
        createdAt: d.createdAt,
        updatedAt: d.updatedAt
      }));
    })
    .catch(err => {
      this.loading = false;
      console.log(err);
    });
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

.categoryContainer {
  width: 100%;
  min-height: calc(100vh - 60px);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 50px 0;
}

h1 {
  font-size: 3rem;
  margin: 0 0 20px;
}

h2 {
  font-size: 1rem;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0 0 25px;
}

.list-articles {
  display: flex;
  align-items: center;
  gap: 15px;
  flex-direction: column;
  margin-top: 20px;
}

.list-articles a {
  background-color: var(--white);
  color: var(--dark-grey);
  padding: 20px;
  text-decoration: none;
  border-radius: 15px;
  transition: all .2s;
  width: 750px;
  max-width: 100%;
  border: 2px solid transparent;
}
.list-articles a:hover {
  border: 2px solid var(--green);
}

.article-title {
  font-family: "PT Sans";
  font-size: 1.5rem;
  font-weight: bold;
  display: block;
}

.article-author {
  display: block;
  margin-bottom: 10px;
}
.username {
  color: var(--green);
}
.author-role {
  font-style: italic;
  color: var(--pink);
}

</style>