<template>
    <component
    :is="as"
    :name="name"
    :value="value"
    @input="handleChange"
    >
        <slot></slot>
    </component>
</template>

<script>
export default {
  name: "Field",
  props: {
    name: {
        type: String,
        required: true
    },
    as: {
        type: String,
        default: "input",
        validator: (value) => {
            return ['input', 'select', 'textarea'].indexOf(value) !== -1
        }
    }
  },
  inject: ['initialValues'],
  data: function() {
    return {
        value: this.initialValues[this.name]
    }
  },
  methods: {
      handleChange: function(e) {
          this.value = e.target.value
      }
  }
};
</script>

<style scoped>
</style>