<template>
    <form @submit.prevent="handleSubmit">
        <slot></slot>
    </form>
</template>

<script>
export default {
  name: "Formik",
  props: {
    initialValues: {
        type: Object,
        required: true
    },
    onSubmit: {
        type: Function,
        required: true
    }
  },
  provide: function() {
      return { initialValues: this.initialValues }
  },
  methods: {
      handleSubmit: function(e) {
        const names = Object.keys(this.initialValues);
        //   const values = names.map(n => e.target.elements[n].value);
        let values = {};
        names.forEach(n => values = {...values, [n]: e.target.elements[n].value});
        this.onSubmit(values);
      }
  }
};
</script>

<style scoped>
</style>