<template>
    <div class="accountContainer">
        <h1>My account</h1>

        <!-- <p>Username : {{ user.username }}</p>
        <p>Email : {{ user.email }}</p>
        <p>Role : {{
          user.roles.some(r => r === 'ROLE_ADMIN') ? "Administrator" :
          user.roles.some(r => r === 'ROLE_MODERATEUR') ? "Moderator" :
          "User"
        }}</p> -->
    </div>
</template>

<script>
// import { config } from '../../config';

export default {
  name: 'Account',
  data() {
    return {
      user: {}
    }
  },
  props: {
    loggedIn: {
        type: Boolean
    },
  },
  created() {
    this.loading = true;

    if(!this.loggedIn) this.$router.push({ path: '/' });

    // fetch(`${config.apiUrl}/users`)
    // .then(response => response.json())
    // .then(res => {
    //   this.user = {
    //     id: res.id,
    //     username : res.username,
    //     roles: res.author.roles,
    //     email: res.email
    //   };
    //   this.loading = false;
    // })
    // .catch(err => {
    //   this.loading = false;
    //   console.log(err);
    // });
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

.accountContainer {
  width: 100%;
  min-height: calc(100vh - 60px);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 50px 0;
  gap: 20px;
}

</style>