<template>
    <div class="changePwdContainer">
        <h1>Changer le mot de passe</h1>
    </div>
</template>

<script>
export default {
  name: 'ChangePwd'
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>