<template>
    <div class="loginContainer">
        <Formik
        :initialValues="{
          username: '',
          password: '',
        }"
        :onSubmit="handleSubmit"
        >
          <div class="input-group">
            <label for="username">Username</label>
            <Field id="username" name="username" placeholder="Username" required/>
          </div>

          <div class="input-group">
            <label for="password">Password</label>
            <Field id="password" name="password" type="password" required/>
            <router-link class="forgot-pwd" to="/account/change-password">
              <small>Forgot your password ?</small>
            </router-link>
          </div>

          <small v-if="error" class="errorMsg">Une erreur est survenue. Vérifiez vos identifiants.</small>

          <button type="submit">
            {{ !loading ? "Log in" : "" }}
            <breeding-rhombus-spinner
            :animation-duration="1500"
            :size="23"
            :color="'#fff'"
            v-if="loading"
            />
          </button>
          <router-link class="no-account" to="/sign-up">
            <small>No account yet ? Sign up</small>
          </router-link>
        </Formik>
    </div>
</template>

<script>
import { BreedingRhombusSpinner } from 'epic-spinners'
import Formik from '../../components/Formik/Formik.vue'
import Field from '../../components/Formik/Field.vue'
import { config } from '../../config';

export default {
  name: 'Login',
  components: {
    Formik,
    Field,
    BreedingRhombusSpinner
  },
  data() {
    return {
      error: false,
      loading: false
    }
  },
  created() {
    if(localStorage.getItem("token")) this.$router.push({ path: '/' });
  },
  methods: {
    handleSubmit(values) {
      this.loading = true;

      fetch(`${config.apiUrl}/api/login_check`, {
        method: "POST",
        body: JSON.stringify(values),
        headers: new Headers({'content-type': 'application/json'})
      })
      .then(response => response.json())
      .then(res => {
        this.loading = false;
        const data = res.token;
        localStorage.setItem('token', data);
        this.$emit("authenticated", true);
        if(window.history.length > 2) this.$router.go(-1);
        else this.$router.replace({ path: "/" });
      })
      .catch(err => {
        this.loading = false;
        console.log(err);
      });
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

.loginContainer {
  width: 100%;
  min-height: calc(100vh - 60px);
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  background-color: var(--white);
  border-radius: 10px;
  padding: 3%;
  max-width: 90vw;
  color: var(--dark-grey);
  display: flex;
  flex-direction: column;
  width: 600px;
  font-size: 1.3rem;
}

.input-group {
  margin-bottom: 30px;
}

label {
  margin-bottom: 10px;
  font-weight: bold;
  display: block;
}

input {
  border: 1px solid #777;
  font-size: 1.3rem;
  padding: 15px;
  border-radius: 5px;
  width: 100%;
}
input:focus {
  border-color: var(--pink);
  outline: none;
}

.forgot-pwd, .no-account {
  text-decoration: none;
  color: var(--dark-grey);
  opacity: 0.5;
  transition: all .2s;
}
.forgot-pwd:hover, .no-account:hover {
  opacity: 1;
}
.no-account {
  align-self: center;
  text-align: center;
  margin-top: 5px;
}

button[type="submit"] {
  border: none;
  background-color: var(--green);
  border-radius: 5px;
  color: var(--white);
  text-transform: uppercase;
  padding: 20px 40px;
  font-size: 1.3rem;
  transition: all .2s;
  cursor: pointer;
  margin-top: 20px;
}
button[type="submit"]:hover {
  box-shadow: 2px 2px 15px 0px rgba(234,48,255,0.43);
}

.errorMsg {
  color: red;
  align-self: center;
}

</style>