<template>
    <div class="signUpContainer">
        <h1>Create an account</h1>

        <Formik
        :initialValues="{
          email: '',
          password: '',
          username: '',
          confirmPwd: ''
        }"
        :onSubmit="handleSubmit"
        v-if="!signUpSuccess"
        >
          <div class="input-group">
            <label for="username">Username</label>
            <Field id="username" name="username" placeholder="Your username" required/>
          </div>

          <div class="input-group">
            <label for="email">Email address</label>
            <Field id="email" name="email" type="email" placeholder="email@example.com" required/>
          </div>

          <div class="input-group" :class="errorPwd ? 'error' : ''">
            <label for="password">Password</label>
            <Field id="password" name="password" type="password" required @focus.native="cancelErrorPwd"/>
          </div>

          <div class="input-group" :class="errorPwd ? 'error' : ''">
            <label for="confirmPwd">Confirm password</label>
            <Field id="confirmPwd" name="confirmPwd" type="password" required  @focus.native="cancelErrorPwd"/>
          </div>

          <small v-if="error" class="errorMsg">Une erreur est survenue</small>

          <button type="submit">
            {{ !loading ? "Sign up" : "" }}
            <breeding-rhombus-spinner
            :animation-duration="1500"
            :size="23"
            :color="'#fff'"
            v-if="loading"
            />
          </button>
          <router-link class="already-account" to="/login">
            <small>Already have an account ? Log in</small>
          </router-link>
        </Formik>

        <div v-else class="signedUp">
          <h1>Congratulation, you just signed up !</h1>
          <router-link to="/login">Log in</router-link>
        </div>
    </div>
</template>

<script>
import { BreedingRhombusSpinner } from 'epic-spinners'
import Formik from '../../components/Formik/Formik.vue'
import Field from '../../components/Formik/Field.vue'
import { config } from '../../config';

export default {
  name: 'SignUp',
  components: {
    Formik,
    Field,
    BreedingRhombusSpinner
  },
  data() {
    return {
      errorPwd: false,
      signUpSuccess: false,
      error: false,
      loading: false
    }
  },
  created() {
    if(localStorage.getItem("token")) this.$router.push({ path: '/' });
  },
  methods: {
    handleSubmit(values) {
      this.error = false;
      this.erroPwd = false;

      if(values.password === values.confirmPwd) {
        console.log("submitted");
        delete values.confirmPwd;

        fetch(`${config.apiUrl}/users`, {
          method: "POST",
          body: JSON.stringify(values),
          headers: new Headers({'content-type': 'application/json'})
        })
        .then(response => response.json())
        .then(() => {
          this.loading = false;
          this.signUpSuccess = true;
        })
        .catch(err => {
          this.loading = false;
          this.error = true;
          console.log(err);
        });
      } else {
        this.errorPwd = true;
      }
    },
    cancelErrorPwd() {
      if(this.errorPwd) this.errorPwd = false;
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

.signUpContainer {
  width: 100%;
  min-height: calc(100vh - 60px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px 0;
}

form {
  background-color: var(--white);
  border-radius: 10px;
  padding: 3%;
  max-width: 90vw;
  color: var(--dark-grey);
  display: flex;
  flex-direction: column;
  width: 600px;
  font-size: 1.3rem;
}

.input-group {
  margin-bottom: 30px;
}
.input-group.error input {
  border-color: red;
}

label {
  margin-bottom: 10px;
  font-weight: bold;
  display: block;
}

input {
  border: 1px solid #777;
  font-size: 1.3rem;
  padding: 15px;
  border-radius: 5px;
  width: 100%;
}
input:focus {
  border-color: var(--pink);
  outline: none;
}

.already-account {
  text-decoration: none;
  color: var(--dark-grey);
  opacity: 0.5;
  transition: all .2s;
  text-align: center;
  margin-top: 5px;
  align-self: center;
}
.already-account:hover {
  opacity: 1;
}

button[type="submit"], .signedUp a {
  border: none;
  background-color: var(--green);
  border-radius: 5px;
  color: var(--white);
  text-transform: uppercase;
  padding: 20px 40px;
  font-size: 1.3rem;
  transition: all .2s;
  cursor: pointer;
  margin-top: 20px;
  text-decoration: none;
  justify-content: center;
  display: flex;
}
button[type="submit"]:hover, .signedUp a:hover {
  box-shadow: 2px 2px 15px 0px rgba(234,48,255,0.43);
}

h1 {
  font-size: 3rem;
  margin: 0 0 50px;
}

.errorMsg {
  color: red;
  align-self: center;
}

</style>