<template>
    <div class="homeContainer">
        <div class="text-block">
          <h1>
            Welcome to <em>Cryptoblock</em>,<br/>
            The new generation cryptocurrency blog !
          </h1>
          <router-link to="/metrics">See real-time metrics</router-link>
        </div>
        <img class="home-bg" src="../assets/img/crypto_2.jpg" alt="" />
    </div>
</template>

<script>
export default {
  name: 'Home'
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.homeContainer {
  width: 100%;
  min-height: calc(100vh - 60px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-block {
  background-color: var(--white);
  border-radius: 10px;
  padding: 40px;
  max-width: 675px;
  position: relative;
  z-index: 10;
  margin-top: 75px;
}

.text-block h1 {
  margin-top: 0;
  text-align: left;
  font-size: 2.3rem;
  margin-bottom: 65px;
  color: var(--dark-grey);
}

.text-block h1 em {
  text-transform: uppercase;
  letter-spacing: 0.08rem;
  font-style: normal;
  font-size: 2.2rem;
  font-family: "Open Sans";
  font-weight: 900;
}

a {
  background-color: var(--green);
  border-radius: 5px;
  color: var(--white);
  text-transform: uppercase;
  text-decoration: none;
  padding: 20px 40px;
  display: inline-block;
  font-size: 1.3rem;
  transition: all .2s;
}
a:hover {
  box-shadow: 2px 2px 15px 0px rgba(234,48,255,0.43);
}

.home-bg {
  width: 42%;
  margin-left: -200px;
  margin-top: -100px;
}
</style>