<template>
    <div class="metricsContainer">
        <h1>Real-time metrics</h1>
        <h2>Metrics of the 15 most popular cryptocurrencies for the last 24 hours</h2>

        <breeding-rhombus-spinner
        :animation-duration="1500"
        :size="75"
        :color="'#fff'"
        v-if="loading"
        />

        <div v-else id="crypto-market-data">
          <CryptoCard v-for="crypto in cryptoData" :key="crypto.id" :crypto="crypto"/>
        </div>
    </div>
</template>

<script>
import { BreedingRhombusSpinner } from 'epic-spinners'
import CryptoCard from '../components/CryptoCard.vue'

export default {
  name: 'Metrics',
  components: {
    BreedingRhombusSpinner,
    CryptoCard
  },
  data() {
    return {
      cryptoData: [],
      loading: false
    }
  },
  created() {
    this.loading = true;

    fetch("https://data.messari.io/api/v1/assets?limit=15&fields=id,slug,symbol,name,metrics/market_data")
    .then(response => response.json())
    .then(res => {
      this.loading = false;
      const data = res.data;
      console.log(data);

      this.cryptoData = data.map(d => ({
        id: d.id,
        cryptoName : d.name,
        slug: d.slug,
        symbol: d.symbol,
        priceUSD: d.metrics.market_data.price_usd,
        percent: d.metrics.market_data.percent_change_usd_last_24_hours
      }))
    })
    .catch(err => {
      this.loading = false;
      console.log(err);
    });
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

.metricsContainer {
  width: 100%;
  min-height: calc(100vh - 60px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px 0;
}

h1 {
  font-size: 3rem;
  margin: 0 0 20px;
}

h2 {
  font-size: 1rem;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0 0 75px;
}

.breeding-rhombus-spinner {
  margin-bottom: 100px;
}

#crypto-market-data {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 40px;
  padding: 0 10vw;
}

</style>