<template>
  <div id="app">
    <Header :loggedIn="loggedIn" @authenticated="setLoggedIn"/>
    <div id="main-container">
      <router-view @authenticated="setLoggedIn" :loggedIn="loggedIn"></router-view>
    </div>
  </div>
</template>

<script>
import Header from './components/Header.vue'

export default {
  name: 'App',
  components: {
    Header
  },
  data: function() {
    return {
      loggedIn: localStorage.getItem("token") ? true : false
    }
  },
  methods: {
    setLoggedIn(status) {
      this.loggedIn = status;
    }
  }
}
</script>

<style>
@import "./assets/css/assets.css";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;0,800;1,300;1,400;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
  font-size: 100%;
}

* {
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
  color: #fff;
  background-color: var(--blue);
  margin: 0;
  font-family: 'PT Sans', sans-serif;
}

#app {
  font-family: "Open sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: "PT Sans";
}

#main-container {
  padding: 0 5vw;
  width: 100vw;
  background-image: url('./assets/img/digital-bg.png');
  background-position: bottom;
  background-size: cover;
  background-attachment: fixed;
}
</style>
